/* Game.css */
.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

.resultsTableContainer {
  left: 0;
  width: 100%;
  z-index: 0; /* Ensure it appears above other content */
}

.header {
  padding-top: 60px;
  font-size: 24px;
  text-align: center;
}

.formStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.guessButton {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.guessButton:hover {
  background-color: #0056b3;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 10px 0;
  height: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #fe4646;
  border-radius: 5px;
  transition: width 0.4s ease;
}

.hotTakePopup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bottom-header {
  margin-top: 30px;
  color: #333;
}

/* Adjustments for spacing and hiding overflowed content */
.Extra.Spacing {
  visibility: hidden;
}

.hotTakePopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  background: #008080; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  z-index: 100;
  color: #F5F5DC; 
  }
  
  .hotTakePopup p {
  margin-bottom: 20px;
  text-align: center;
  color: #F5F5DC;
  }
  
  .hotTakePopup input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #F5F5DC; /* Cream border for the input */
  border-radius: 4px;
  background-color: rgba(245, 245, 220, 0.5); /* Slightly transparent cream */
  color: #005555; /* Dark teal text for contrast */
  }
  
  .hotTakePopup button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #008080; /* Teal text for the button, to inverse popup/bg color scheme */
  font-weight: bold;
  background-color: #F5F5DC; /* Cream background for the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .hotTakePopup button:hover {
  background-color: #EDEDD3; /* Slightly darker shade of cream for hover state */
  }