/* Game.css */
.gameContainer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* This ensures that gameContainer is at least the height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .header {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .description {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
  }
  
  .formStyle {
    margin-bottom: 20px;
  }
  
  .guessButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block; /* Makes the button a block-level element */
    margin: 0 auto; /* Centers the button horizontally */
  }
  
  .guessButton:hover {
    background-color: #0056b3;
  }
  
  .feedback {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .subheader {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .loadingText {
    font-size: 1rem;
    color: #666;
  }
  
  .formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}