.group-info-container {
    max-width: 600px;
    min-height: 80vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .group-info-header {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .group-info-content {
    margin-top: 20px;
  }
  
  .group-name,
  .group-code {
    color: #555;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .members-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    position: relative;
  }
  
  .member-item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .member-item:hover {
    background-color: #f9f9f9;
  }
  
  .remove-button {
    padding: 6px 12px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: auto;
  }

  .promote-button {
    padding: 6px 12px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: auto; 
  }
  
  .remove-button:hover {
    background-color: #ff2e4a;
  }
  
  .leave-group-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f44336; /* Red color for the leave action */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .admin-indicator {
    color: #006400; /* Green color for the admin indicator */
    font-weight: bold;
    margin-right: auto; /* Add some space between the member's name and the indicator */
  }