/* NavBar.css */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em .5em;
    background-color: #1c2c4c;
    color: #fff;
    position: relative;
  }
  
  .logo {
    height: 50px; /* Adjust based on your logo's aspect ratio */
    width: auto;
    flex-shrink: 0; /* Prevent the logo from shrinking */
  }
  
  .titleHeader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ECF0F1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .user-groups {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .user-groups:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .user-groups-btn, .sign-out, .sign-in {
    background: none;
    border: 2px solid #ECF0F1;
    padding: 0.5em 1em;
    border-radius: 15px;
    color: #ECF0F1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1em; /* Adds space between the sign-out button and the user groups dropdown */
  }
  
  .sign-in img {
    height: 35px;
    border-radius: 15px;
  }
  
  .sign-out:hover, .sign-in:hover, .user-groups-btn:hover {
    background-color: #ECF0F1;
    color: #2C3E50;
  }

  /* Add these styles to your existing CSS file or create a new one */

  .fullscreen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Light blue background with higher opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .popup-content {
    background: #3498db; /* Blue background */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    color: #ecf0f1; /* Light gray text color */
    font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
    font-size: 16px; /* Standard font size */
    line-height: 1.6; /* Set the line height */
  }

/* Add any additional styles as needed */

.info-btn {
  /* Add any existing styles for the button */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px; /* Adjust margin as needed */
}

.info-icon {
  width: 30px; /* Adjust the width of the icon */
  height: 30px; /* Adjust the height of the icon */
  display: block;
}