/* Style for the navigation bar with dark theme */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a; /* Dark theme background */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Lighter shadow for depth on dark bg */
  }
  
  .nav-bar img {
    width: 50px; /* Logo size */
    height: auto;
  }
  
  .titleHeader {
    color: #e0e0e0; /* Light grey text for readability */
    font-size: 24px; /* Suitable for titles */
  }
  
  .sign-out, .sign-in {
    background-color: #307AFF; /* Adjusted to a bright blue for better visibility */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  }
  
  .sign-out:hover, .sign-in:hover {
    background-color: #5591FF; /* Lighter blue on hover */
    transform: translateY(-2px); /* Slight lift effect for interactivity */
  }
  
  .sign-in img {
    width: 24px; /* Adjusting the Google sign-in icon size */
    height: auto;
  }
  
  /* Adjusting margins for title and buttons */
  .titleHeader, .sign-out, .sign-in {
    margin: 0 10px;
  }
  